@font-face {
  font-family: 'iconfont';  /* project id 563113 */
  src: url('https://at.alicdn.com/t/font_563113_oaui1iotjhbbj4i.eot');
  src: url('https://at.alicdn.com/t/font_563113_oaui1iotjhbbj4i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_563113_oaui1iotjhbbj4i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_563113_oaui1iotjhbbj4i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_563113_oaui1iotjhbbj4i.svg#iconfont') format('svg');
}
#main_left{
	width: 20%;
	height: 562px;
	background-color: #f5f5f5;
	padding-top: 60px;
	padding-bottom: 40px;
	float: left;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
}
.title{
	font-size: 38px;
	font-weight: 700;
	color: #000;
	line-height: 38px;
	text-decoration: none;
}

.main_left_content{
	width: 100%;
	height: 200px;
	margin-top: 80px;
	text-align: center;
}
.main_left_content h1{
	margin-bottom: 15px;
}
.main_left_content a{
	font-size: 14px;
	color: #000;
	font-weight: 600;
	border-bottom: 2px solid #228896;
	text-decoration: none;
}
.banquan{
	width: 100%;
	font-size: 12px;
	color: #626262;
	padding-left: 20px;
	margin-top: 180px;
}
.main_left_btn{
	width: 100%;
	height: 30px;
	margin-top: 30px;
}
.main_left_btn span{
	font-family: 'iconfont';
	font-size: 16px;
	color: #494949;
	margin-right: 15px;
}
#main_right{
	width: 80%;
	height: 662px;
	float: right;
	background-color: yellowgreen;
	
}
.main_right_img{
	width: 100%;
	height: 662px;
	background: pink;
	position: relative;
}
.main_right_img img{
	width: 100%;
	height: 662px;
}
.main_right_second{
	width: 100%;
	height: 500px;
	background-color: yellowgreen;
} 
.main_right_second h2{
	font-size: 18px;
	letter-spacing: 2px;
}
.main_content{
	width: 100%;
	background: red;
	height: 50px;
	float: left;
}
.content{
	width: 100%;
	height: auto;
	padding: 12px;
	background: #fff;
	margin-bottom: 30px;
	box-shadow: 0 0 1px #8a8a8a;
	
}
.main{
padding-top: 30px;
overflow-x: scroll;
}
body{
	background-color: #f2f2f2;
}
.img_box{
	width: 100%;
	height: auto;
	padding-top: 52.57%;
	background: red;
	position: relative;
}
.img_box2{
	width: 100%;
	height: auto;
	padding-top: 140%;
	background: red;
	position: relative;
}
.imginner{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.imginner img{
	width: 100%;
	height: 100%;
}

.title{
	height: 30px;
	line-height: 30px;	
	text-align: center;
	font-size: 24px;
	color: #777;
}
.col-md-6{

}
.item_w1{
	margin-bottom: 30px;
	font-size: 28px; 
}
.person_xinxi{
	width: 100%;
	padding-top: 120px;
	padding-left: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	text-align: center;
}
.col-xs-12 .person_name{
	font-size: 50px;
	font-weight: 800;
	color: #fff;
}
.container{
	width: 100%;
}
.person_xiangxi{
	width: 40%;
	height: 250px;
	background: rgba(255, 255, 255, .3);
	position: absolute;
	top: 120px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 60px;

}
.person_xiangxi h3{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 40px;
}
.content{
	position: relative;
}
.content_zhezhao{
	width: 100%;
	height: 90%;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0px;
	transition: bottom 1s linear,opacity 1s linear;
	left: 0px;
	opacity: 0;
}
.content:hover .content_zhezhao{
	top: -5px;
	opacity: 1;
}
.content_zhezhao_img img{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.col-md-4{
	
	height: auto;
	float: left;
	padding: 10px;
	border: 20px solid #f2f2f2;
}
.main1{
	margin-top: 20px;
	margin-bottom: 50px;
}
.col-md-4 h1{
	font-size: 26px;
	color: #626262;
}
.col-md-8{
	padding-top: 10px;
	float: left;
	border: 10px solid #f2f2f2;
	position: relative;
}
.col-md-4 h2{
	font-size: 20px;
	color: #626262;
	letter-spacing: 5px;
}
.skill_line{
	width: 100%;
	height: 8px;
	background: #fff;
	margin-top: 50px;
	
}
.skill_line1{
	width: 80%;
	height: 8px;
	background: #818181;
	opacity: 0;
	transition: all .3s linear;
}
.skill_line1:hover{
	transform: translateX(10px);
	opacity: 1;
}
.line2{
	width: 90%;
}
.line3{
	width: 76%;
}
.line4{
	width: 58%;
}
.line5{
	width: 63%;
}
.skill_wenzi{
	font-size: 20px;
	position: absolute;
	top: 10px;
	left: 15px;
}
.skill_wenzi2{
	top: 67px;
}
.skill_wenzi3{
	top: 120px;
}
.skill_wenzi4{
	top: 177px;
}
.skill_wenzi5{
	top: 237px;
}
.imgnner1{
	width: 100%;
	height: auto;
	padding-top: 75.57%;
	background: red;
	position: relative;
	
}
.img1{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	
}
.img1 img{
	width: 100%;
	height: 100%;
}
.col-md-4 .about_jianli{
	font-size: 28px;
	font-weight: 800;
	color: #fff;
	position: absolute;
	top: 90px;
	bottom: 0;
	left: 0px;
	right: 0;
	margin: auto;

}
.col-xs-12 h1{
	font-size: 30px;
	color: #238896;
}
.lianxi_wen{
	font-size: 16px;
	color: #919191;
	width: 100%;
}
.lian_w2{
	font-size: 16px;
	color: #919191;
	width: 100%;
}
.lain_box{
	width: 150px;
	height: 50px;
	background:#238896;
	margin-top: 20px; 
	margin-bottom: 20px;
	text-align: center;
	padding-top: 10px;
	font-weight: 800;
	font-size: 14px;
	color: #fff;


}
.main_left_content .main_left_w2{
	border: none;
}
.main_left_content .main_left_w2:hover{
	border-bottom: 2px solid #228896;
	
	font-size: 16px;
}
.banquan:hover,.main_left_btn span:hover,
.lianxi_wen:hover,.lian_w2:hover{
	color: #228896;
	cursor: pointer;
}
.person_xiangxi:hover{
	cursor: pointer;
	background: rgba(255, 255, 255, .4);
}
.imgnner1{
	transition: all .5s linear;
}
.imgnner1:hover,.content:hover{
	box-shadow:0 9px 30px 2px rgba(191, 191, 191, .6);
 	transform: translateY(-5px);

}

.col-md-4 .imgnner1:hover{
	width: 80%;
	height: 80%;
}
.col-md-4 .about_jianli{
	transition: all 3s linear;
}
.imgnner1 .about_jianli:hover{
	transform: rotate3d(1, 1, 0, 180deg);
}
.person_xiangxi:hover h3{
	font-size: 30px;
}